nav{
	width:100%;
	font-size:30px;
	background-color:black;
	list-style: none;
	color:white;
	list-style-type: none;
}

ul{
	list-style: none;
	display: inline;
	font-size: 12px;
}
ul li{
	display: inline;
	font-size: 10px;
}
p{
	color:white;
}
a{font-family: 'Playfair Display', serif;
font-family: 'Athiti', sans-serif;}
